App.css body,
html,
#root {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #ccccf0, #ca9cca, #abddcc, #f4d9b2);
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}